#content {
    width: 100%;
}

#details {
    width: 77%;
    height: 650px;
    margin: 0px auto;
    display: flex;
}

#details-left {
    width: 25%;
    height: 650px;
    display: flex;
    align-items: center;

}

.swiper-container {
    width: 95%;
    height: 90%;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
}

.thumb {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
    border: 1px solid #f8dff6;
}

.thumb img {
    border: 2px solid transparent;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb:hover img,
.thumb img.selected {
    border-color: #f8dff6;
    transform: scale(1.05);
}

#details-center {
    width: 45%;
    display: flex;
    align-items: center;
}

.selected {
    margin: 0px auto;
}

#details-right {
    width: 32%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.name-product {
    font-size: 25px;
    margin-bottom: 10px;
}

.price {
    font-size: 30px;
    color: #A64CA6;
    font-weight: 500;
    margin-bottom: 5px;
}

.original-price {
    font-size: 15px;
    color: #666;
    text-decoration: line-through;
    margin-bottom: 15px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.detail-row:last-child {
    border-bottom: none;
}

.material-container {
    display: flex;
    gap: 10px;
}

.material-box {
    padding: 3px 8px;
    color: black;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #666;
    font-weight: 400;
}

.material-box:hover {
    border-color: #A64CA6;
    transform: scale(1.05);
}
.material-box.selected {
    border-color: #A64CA6;
    font-weight: bold;
    color: #A64CA6
}

#description-container {
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    padding: 10px;
    scrollbar-width: none;
    margin-top: 10px;
}

.description {
    font-size: 14px;
    line-height: 1.5;
}

.buy-now {
    padding: 10px 15px;
    background-color: #A64CA6;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}
.buy-now:hover{
    background-color: #a64ca6c1;
}
#other-1 {
    width: 77%;
    height: 250px;
    margin: 0px auto;
}

.text-other {
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    color: #A64CA6;
  
}

#other-detail {
    justify-content: space-between;
    display: flex;
    padding: 8px 80px;
    cursor: pointer;
}

#other-2 {
    width: 77%;
    text-align: center;
    margin: 15px auto;
}

.new {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 auto;
    justify-content: space-between;
    cursor: pointer;
}

.heart-icon1 {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.heart-icon1:hover {
    transform: scale(1.2);
}